*{
    margin: 0;
    padding: 0;
}
header{
    width: 1920px;
    height: 700px;
    font-family: 'Roboto', sans-serif;
    background: #EEEFF1;
}
.container{
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
    padding-right: 407px;
    padding-top: 57px;
}
.logo img{
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #34547A;
}
.top{
    display: flex;
    padding-top: 79px;
}
.top ul{
    display: flex;
    align-items: center;
}
.top li{
    list-style: none;
    padding-right: 42px;
}
.top a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    width: 74px;
    height: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
}
.box{
    display: flex;
    justify-content: center;
}
.boxed {
    padding-left: 514px;
    padding-top: 161px;
}
.text{
    padding-left: 142px;
    padding-top: 160px;
}
h1{
    width: 541px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold ;
    font-size: 50px;
    line-height: 79px;
    color: #000000;
}
.text p{
    width: 540px;
    height: 67px;
    padding-top: 60px;
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.btn{
    padding-top: 60px;
}
button{
    width: 225px;
    height: 65px;
    background: #34547A;
}
.btn a{
    width: 143px;
    height: 15px;
    text-decoration: none;
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.middle{
    width: 1920px;
    height: 366px;
    background: #E5E5E5;
}
h2{
    width: 403px;
    height: 30px;
    padding-left: 758px;
    padding-top: 100px;
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}
.middle p{
    width: 540px;
    height: 67px;
    padding-left: 690px;
    padding-top: 30px;
    font-family:  sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
footer{
    width: 1920px;
    height: 250px;
    background: #34547A;
}
.bottom{
    padding-top: 109px;
}
.down{
    display: flex;
    justify-content: center;
    padding-left: 63px;
}
.forty{
    padding-left: 20px;
}
h3{
    width: 36px;
    height: 19px;
    padding-bottom: 10px;
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}
.forty p{
    width: 71px;
    height: 15px;
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
